# <center> LESSON 10: CAPSTONE PROJECTS </center>

## 1: PYTHON'S FOUNDATION

#### Question 1.1:

Given a string `s` consists of some words separated by spaces, return the length of the last word in the string. If the last word does not exist, return 0. A word is a maximal substring consisting of non-space characters only.

|Input   |Function                                                    | Output|
|-|-|-|
|`s="Hello World"` |Check the last word `World` has how many characters?|   5   |
|`s=" "`           |Check the last word ` ` has how many characters?    |   0   |

In [1]:
def length_of_last_word(s):
        words = s.split()
        if len(words) == 0:
            return 0
        return len(words[-1])

In [2]:
s = "Hello world"
assert length_of_last_word(s) == 5, "Wrong answer, please calculate again"

s = " "
assert length_of_last_word(s) == 0, "Wrong answer, please calculate again"

AssertionError: Wrong answer, please calculate again

#### Question 1.2:

An integer `d` is a divisor of an integer `n` if `n % d = 0`.
Given an integer `n`, count the number of `d` occuring within the integer.

**Examples**:

|Input   |Function                                        | Output|
|-|-|-|
|`n=124` |Check if `1`,`2`, and `4`  are divisors of `124`|   3   |
|`n=100` |Check if `1` and `0` are divisors of `100`      |   1   |
|`n=13`  |Check if `1`  and `3`  are divisors of `13`     |   1   |

Hints: using `loops` (i.e `for`, ...) or `comprehension`.

In [20]:
def func(A):
    return len([1 for i in str(A) if i !='0' and A%int(i)==0])

for t in range(int(input())):
    print(func(int(input())))

 124
 3

1

 3

1

 3

1

 1

1

 1

1

ValueError: invalid literal for int() with base 10: ''

In [ ]:
n = 124
assert find_digits(n) == 3, "Wrong answer, please calculate again"

n = 100
assert find_digits(n) == 1, "Wrong answer, please calculate again"

n = 13
assert find_digits(n) == 1, "Wrong answer, please calculate again"

## 2: NUMPY, PANDAS

In [3]:
import numpy as np

### Question 1.2: NumPy

Given an array of 2 dimension `A`, return the minimum value of the second dimension.
For examples:

|Input|Output|
|-|-|
|```A = np.array([[2, 59],[3, 17], [1, 33], [45, 0]])```|`[2 3 1 0]`|
|```A = np.array([[22, 21],[35, 1], [12, 3], [5, 80]])```|`[21 1 3 5]`|

In [23]:
import numpy as np
values = np.array([
    [8,2,3,4,5,6],
    [3,6,6,7,2,6],
    [3,8,5,1,2,9],
    [6,4,2,7,8,3]])
values.min()          # = 1
np.min(values)        # = 1
np.amin(values)       # = 1
min(values.flatten()) # = 1

1

In [29]:
A = np.array([[2, 5], [3, 7], [1, 3], [4, 0]])
min(values.flatten(A))

TypeError: order must be str, not numpy.ndarray

### Question 2.2: Pandas

#### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

#### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user) and assign it to a variable called `users`.

In [32]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user')

In [33]:
type(users)

pandas.core.frame.DataFrame

In [43]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 943 entries, 0 to 942
Data columns (total 1 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   user_id|age|gender|occupation|zip_code  943 non-null    object
dtypes: object(1)
memory usage: 7.5+ KB

In [42]:
users.tail()

    user_id|age|gender|occupation|zip_code
938                 939|26|F|student|33319
939           940|32|M|administrator|02215
940                 941|20|M|student|97229
941               942|48|F|librarian|78209
942                 943|22|M|student|77841

In [41]:
users.head(10)

  user_id|age|gender|occupation|zip_code
0                1|24|M|technician|85711
1                     2|53|F|other|94043
2                    3|23|M|writer|32067
3                4|24|M|technician|43537
4                     5|33|F|other|15213
5                 6|42|M|executive|98101
6             7|57|M|administrator|91344
7             8|36|M|administrator|05201
8                   9|29|M|student|01002
9                   10|53|M|lawyer|90703

In [44]:
users.describe

<bound method NDFrame.describe of     user_id|age|gender|occupation|zip_code
0                  1|24|M|technician|85711
1                       2|53|F|other|94043
2                      3|23|M|writer|32067
3                  4|24|M|technician|43537
4                       5|33|F|other|15213
..                                     ...
938                 939|26|F|student|33319
939           940|32|M|administrator|02215
940                 941|20|M|student|97229
941               942|48|F|librarian|78209
942                 943|22|M|student|77841

[943 rows x 1 columns]>

#### Step 3. Select all records of women whose age is between 20 and 30 that work as technician.

#### Step 4. For each occupation, calculate the minimum and maximum ages

## 3: VISUALIZATION

#### Step 1. Import the necessary libraries (seaborn, matplotlib)

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

#### Step 2. Import the dataset `titanic` from `sns.load_dataset()` and assign it to a variable called `titanic`.

In [54]:
import requests

download_url = "https://github.com/mwaskom/seaborn-data/blob/master/titanic.csv"
target_csv_path = "titanic.csv"
response = requests.get(download_url)
response.raise_for_status()    # Check that the request was successful
with open(target_csv_path, "wb") as f:
    f.write(response.content)
print("Download ready.")

Download ready.

In [55]:
titanic = pd.read_csv('titanic.csv')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 93, saw 2

#### Step 3: Plot distribution of 'fare' using `sns.histplot()`

#### Step 4: Plot distribution of 'age' with 3 difference `class` using `sns.boxplot()`

#### Step 5: Plot correlation matrix using `sns.heatmap()`

## 4: MACHINE LEARNING with PIMA INDIANS DIABETES DATASET

The Pima Indian Diabetes Dataset, originally from the National Institute of Diabetes and Digestive and Kidney Diseases, contains information of 768 women from a population near Phoenix, Arizona, USA. The outcome tested was Diabetes, 258 tested positive and 500 tested negative. Therefore, there is one target (dependent) variable `Outcome` and the following attributes (TYNECKI, 2018):

|        Features        |Descriptions|
|           -            |-|
|Pregnancies             |Number of times pregnant|
|Glucose                 |Oral glucose tolerance test - OGTT (two hour plasma glucose concentration after 75g anhydrous glucose in mg/dl)|
|BloodPressure           |Blood Pressure (Diastolic Blood Pressure in mmHg)|
|SkinThickness           |Skin Thickness (Triceps skin fold thickness in mm)|
|Insulin                 |Insulin (2 h serum insulin in mu U/ml)|
|BMI                     |BMI (Body Mass Index in kg/m2)|
|DiabetesPedigreeFunction| Pedigree Diabetes Function ('function that represents how likely they are to get the disease by extrapolating from their ancestor’s history')|
|Age                     |Age (years)|


The objective of this capstone project is to use Machine Learning (e.g, logistic regression, svm, random forest, ...) to predict whether a patient has diabetes or not (binary classification) given 7 features mentionned above.

#### Step 1. Import the necessary libraries (pandas, numpy, seaborn, sklearn)

In [45]:
import pandas as pd
import numpy as np 
import seaborn as sns
import sklearn as sk

#### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/npradaschnor/Pima-Indians-Diabetes-Dataset/master/diabetes.csv) and assign it to a variable called `pima`.

In [46]:
pima = pd.read_csv("https://raw.githubusercontent.com/npradaschnor/Pima-Indians-Diabetes-Dataset/master/diabetes.csv")

In [47]:
pima.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

#### Step 3. Check the DataFrame Information, Descriptive Statistics and Analysis of dataset
**Hints**: Check dimension of the data, data type for each attribute, describe the distribution for each attribute, the percentage of missing values, detect ouliers, ...

In [48]:
pima.shape

(768, 9)

In [49]:
pima.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

#### Step 4. EDA & Visualization 
**Hints**: Plot attributes distributions, correlation, pairplot to find insights in attributes combinations, ...

#### Step 5. Feature Engineering
**Hints**: Handle missing values, outliers, transform original attributes to meaningful features,...

#### Step 6. Train models
**Hints**: `LogisticRegression`, `SVM`,...

#### Step 7. Predict on new data

#### Step 8. Evaluate the model
**Hints**: Suggested metrics include `accuracy_score`, `confusion_matrix`,`classification_report`,...