# <center> LESSON 10*: CONNECT PANDAS WITH SQL </center>

In [1]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in d:\anaconda\lib\site-packages (1.4.7)
Requirement already satisfied: greenlet!=0.4.17 in d:\anaconda\lib\site-packages (from sqlalchemy) (1.0.0)

In [2]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in d:\anaconda\lib\site-packages (1.4.7)
Requirement already satisfied: greenlet!=0.4.17 in d:\anaconda\lib\site-packages (from sqlalchemy) (1.0.0)

In [3]:
import sqlalchemy

In [4]:
!pip install mysql

Collecting mysql
  Downloading mysql-0.0.3-py3-none-any.whl (1.2 kB)
Collecting mysqlclient
  Downloading mysqlclient-2.0.3-cp38-cp38-win_amd64.whl (179 kB)
Installing collected packages: mysqlclient, mysql
Successfully installed mysql-0.0.3 mysqlclient-2.0.3

In [ ]:
import mysql.

In [5]:
import pandas as pd
import numpy as np

In [ ]:
sql = 'SELECT * FROM ACCOUNT;'
account = pd.read_sql(sql,connection)

In [ ]:
account.head(2)

In [ ]:
sql = 'SELECT * FROM ACCOUNT LIMIT 2;'
account = pd.read_sql(sql.connection)