# <center> LESSON 10*: CONNECT PANDAS WITH SQL </center>