Outliner function

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df_train = pd.read_csv('cs-training.csv')
df_test = pd.read_csv('cs-test.csv')

In [13]:
from collections import Counter
def detect_outlier(df,n,features):
    '''
    Input: dataframe and features
    OUtput:
    '''
    outliner_indices = []
    for col in features:
    #Step1: interare iver fearyres(columns)
        #Step2: Calcutae the 1st quantile (25%)
        Q1 = np.percentile(df[col], 25)
        #Step3: Calcutae the 1st quantile (75%)
        Q3 = np.percentile(df[col], 75)
        #Step4: Calcutae the IQR= Q3-Q1
        IQR= Q3-Q1
        #Step5:Calulate the outliner step
        outlier_step = 1.5*IQR
        #Step6: Index correponding with outlier value 
        outliner_list_col= df[(df[col]< Q1-1.5*IQR)|(df[col]>1.5*IQR)].index
        outliner_indices.extend(outliner_list_col)
    #Seleect rows contatting more than n outliners
    outliner_indices = Counter(outliner_indices)
    multiple_outliners = (k for k,v in outliner_indices.items() if v>n) #Taken k given v>n
    
    return multiple_outliners

In [14]:
df_train.columns

Index(['SeriousDlqin2yrs', 'RevolvingUtilizationOfUnsecuredLines', 'age',
       'NumberOfTime30-59DaysPastDueNotWorse', 'DebtRatio', 'MonthlyIncome',
       'NumberOfOpenCreditLinesAndLoans', 'NumberOfTimes90DaysLate',
       'NumberRealEstateLoansOrLines', 'NumberOfTime60-89DaysPastDueNotWorse',
       'NumberOfDependents'],
      dtype='object')

In [15]:
features = ['RevolvingUtilizationOfUnsecuredLines', 'age',
       'NumberOfTime30-59DaysPastDueNotWorse', 'DebtRatio', 'MonthlyIncome',
       'NumberOfOpenCreditLinesAndLoans', 'NumberOfTimes90DaysLate',
       'NumberRealEstateLoansOrLines', 'NumberOfTime60-89DaysPastDueNotWorse',
       'NumberOfDependents']

In [20]:
#features.remove('age')

In [22]:
#features

In [16]:
outlier_to_drop = detect_outlier(df_train, 2, features)

In [17]:
df_train.drop(outlier_to_drop, axis =0)

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
1,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
3,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
5,0,0.213179,74,0,0.375607,3500.0,3,0,1,0,1.0
6,0,0.305682,57,0,5710.000000,NaN,8,0,3,0,0.0
7,0,0.754464,39,0,0.209940,3500.0,8,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
149994,0,0.385742,50,0,0.404293,3400.0,7,0,0,0,0.0
149995,0,0.040674,74,0,0.225131,2100.0,4,0,1,0,0.0
149996,0,0.299745,44,0,0.716562,5584.0,4,0,1,0,2.0
149998,0,0.000000,30,0,0.000000,5716.0,4,0,0,0,0.0
149999,0,0.850283,64,0,0.249908,8158.0,8,0,2,0,0.0

In [19]:
df_train = df_train.drop(outlier_to_drop, axis =0)#updatetask