# <center> LESSON 8: Introduction to Machine Learning </center>

## 1. What is Machine Learning?

### 1.1 Evolution
<center> <img src="http://www.metal-am.com/wp-content/uploads/sites/4/2020/12/fig-01-copy-1024x630.jpg" width="500"/></center>

### 1.2 Definition
<center> <img src="https://christophm.github.io/interpretable-ml-book/images/programing-ml.png" width="500"/></center>

|Input|Types|Output|
|-|-|-|
|Data, Rules|Classical Programming|Answers|
|Data (with or without Answers)|Machine Learning|Rules|

### 1.3 Reference
<center> <img src="https://www.azquotes.com/picture-quotes/quote-no-one-knows-what-the-right-algorithm-is-but-it-gives-us-hope-that-if-we-can-discover-andrew-ng-125-25-69.jpg" width="500"/></center>


Recommended courses: 
- [Machine Learning](https://www.coursera.org/learn/machine-learning)
- [Deep Learning](https://www.coursera.org/specializations/deep-learning)

## 2. Types of Machine Learning

<center> <img src="https://www.7wdata.be/wp-content/uploads/2020/06/1FUZS9K4JPqzfXDcC83BQTw.png" alt="anatomy" width="700"/></center>

### 2.1 Supervised Learning

### 2.2 Unsupervised Learning

### 2.3 Reinforcement Learning

## 3. Workflow

### 3.1 Overview Pipeline


<center> <img src="img/flow.png" width="700"/></center>

### 3.2 Data Pipeline

<center> <img src="img/flow2.png" width="700"/></center>

## 4. Practice

### 4.0 Install and import necessary packages 

`!pip install scikit-learn`

![](https://scikit-learn.org/stable/_static/ml_map.png)

### 4.1 Problem

<center> <img src="img/iris.png"  width="500"/></center>

In [3]:
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
iris = sns.load_dataset('iris')
iris['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

#### 4.3.1 Statistics

In [10]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [11]:
iris.tail(5)

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [12]:
iris.corr()
#correlation - Mối tương quan

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.117570      0.871754     0.817941
sepal_width      -0.117570     1.000000     -0.428440    -0.366126
petal_length      0.871754    -0.428440      1.000000     0.962865
petal_width       0.817941    -0.366126      0.962865     1.000000

#### 4.3.2 Visualization

### 4.4 Model

#### 4.4.1 Train test plit

#### 4.4.2 Train model

#### 4.4.2 Predict model

## NEXT LESSION: Real-life case study with **CREDIT SCORING**