# Lesson 5: Introduction to Pandas

![](https://miro.medium.com/max/481/1*cxfqR8NAj8HGal8CVOZ7hg.png)

## 1. Introduction

Pandas = panel data
Ref: Pandas Document

Install

## 2. Foundations/Basic

### 2.1 Objects in Pandas

- Data:
    - Structured data: table
    - Unstructred  data: text. image

- Objects:
    - `DataFrame` : sheet in Excel in SQL
    - `Series` : a coulum

### 2.2 Create a DataFrame

In [6]:
import pandas as pd

- `pd.DataFrame()`
- `pd.Series()`

In [12]:
dict1 = {'name': ['chi', 'hao', 'long', 'duc', 'nga', 'trung duc' , 'Viet long' ],
        'age': [12, 13, 14, 34, 13, 14, 10]}
df = pd.DataFrame(dict1)
df

        name  age
0        chi   12
1        hao   13
2       long   14
3        duc   34
4        nga   13
5  trung duc   14
6  Viet long   10

In [13]:
type(df)

pandas.core.frame.DataFrame

### 2.3 Create a Series

In [ ]:
series =