# <center> LESSON 8: Introduction to Machine Learning </center>

## 1. What is Machine Learning?

### 1.1 Evolution
<center> <img src="http://www.metal-am.com/wp-content/uploads/sites/4/2020/12/fig-01-copy-1024x630.jpg" width="500"/></center>

- `Alan Turing` - `Initation game`
- Turing Awards

### 1.2 Definition
<center> <img src="https://christophm.github.io/interpretable-ml-book/images/programing-ml.png" width="500"/></center>

**Definnition**: aset of mothos that computers use to make and improve preditions or behaviors bassed data

|Input|Types|Output|
|-|-|-|
|Data, Rules|Classical Programming|Answers|
|Data (with or without Answers)|Machine Learning|Rules|

### 1.3 Reference
<center> <img src="https://www.azquotes.com/picture-quotes/quote-no-one-knows-what-the-right-algorithm-is-but-it-gives-us-hope-that-if-we-can-discover-andrew-ng-125-25-69.jpg" width="500"/></center>


Recommended courses: 
- [Machine Learning](https://www.coursera.org/learn/machine-learning)
- [Deep Learning](https://www.coursera.org/specializations/deep-learning)

## 2. Types of Machine Learning

<center> <img src="https://www.7wdata.be/wp-content/uploads/2020/06/1FUZS9K4JPqzfXDcC83BQTw.png" alt="anatomy" width="700"/></center>

### 2.1 Supervised Learning

- Classification: label/target - discrete/category
    - Binary classification
    - Multi-class classification
    - Algortimas: Logistic regression, Decision Trees, Naive, Bayes, K-NN...
- Regression: label/target - contimouns
    -

### 2.2 Unsupervised Learning

In [ ]:
- Clustering
    - Algorithns: K-Means, DBSCan, mean-Shift

### 2.3 Reinforcement Learning

In [ ]:

Algorithns: Q-learning, Deep-Q Network

## 3. Workflow

### 3.1 Overview Pipeline


<center> <img src="img/flow.png" width="700"/></center>

- 3 main steps:

### 3.2 Data Pipeline

<center> <img src="img/flow2.png" width="700"/></center>

- `ETL` L Extract - Tranform - Load

!pip install scikit learn

## 4. Practice

### 4.0 Install and import necessary packages 

`!pip install scikit-learn`

![](https://scikit-learn.org/stable/_static/ml_map.png)

In [1]:
# pandas, numpy, matplotlib, seaborn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### 4.1 Problem

<center> <img src="img/iris.png"  width="500"/></center>

In [2]:
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
iris.species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

#### 4.3.1 Statistics

In [4]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [5]:
iris.shape

(150, 5)

In [6]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [7]:
iris.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [13]:
#1 -> 2 Nan -> distribution doesnt affect
iris = iris.dropna()
#iris = iris.dropna(inplace = True)

AttributeError: 'NoneType' object has no attribute 'dropna'

In [14]:
#More NaNs
iris.fillna(-1) # dien gia tri max dinh la -1

AttributeError: 'NoneType' object has no attribute 'fillna'

#### 4.3.2 Visualization

### 4.4 Model

#### 4.4.1 Train test plit

#### 4.4.2 Train model

#### 4.4.2 Predict model

## NEXT LESSION: Real-life case study with **CREDIT SCORING**