![](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/1200px-Pandas_logo.svg.png)
* for DataScience 
* Today we just forcus on practices with Pandas

# <center> LESSON 6: Practice with PANDAS </center>

## I. Know your dataset

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [6]:
import pandas as pd 
#!git clone https://github.com/justmarkham
#csv:comma-separated value 
#tsv:table_separtaed value 
#We use them together to avoid missunderstanding sometimes
#Why we do think about new characterise to separate them well>?
! git clone https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv

Cloning into 'tips.csv'...
remote: 404: Not Found
fatal: repository 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv/' not found

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [10]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Step 3. Assign it to a variable called `chipo`.

In [16]:
chipo = pd.read_csv(url,sep='\t') 
# We have alot of way to separate it depending on whatever you wanna set for it 
# keyword: pd.read().. whatever you wanna have with pd.csv (sep= separate)

In [19]:
chip = pd.read_csv(url, delimiter = '\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. See the first 10 entries

In [25]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [27]:
chipo.loc[0:9,]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [28]:
chipo.loc[:9,:]#default: always from 0 and to the end

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [30]:
chipo.iloc[:10,:]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [31]:
# note that loc take inclusive
#iloc take by using index therefore exclusive

### Step 5. What is the number of observations in the dataset?

In [32]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [34]:
len(chipo) #syntax: len(dataframe)

4622

In [39]:
chipo.shape[0] #Note that it looks like a list actually

4622

### Step 6. What is the number of columns in the dataset?

In [41]:
chipo.shape[1]

5

In [42]:
chipo.size

23110

### Step 7. Print the name of all the columns.

In [45]:
print(chipo.columns.to_list()) #casting Ã©p kiá»ƒu
print(chipo.columns.to_list())

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']
['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [47]:
chipo.index #just check index

RangeIndex(start=0, stop=4622, step=1)

In [48]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 9. Which was the most-ordered item?

In [49]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 10. For the most-ordered item, how many items were ordered?

In [51]:
chipo['item_name'].max()

'Veggie Soft Tacos'

In [52]:
#We validate it basingf on item_name and quantity

1. Quantity per item name

In [85]:
chipo.groupby('item_name').quantity.sum() #group1,2,3,4 basing (theo co che 3 buoc)
#Step 1: we separate it by key 
#step 2: we chose the value which we wanna use (quantity)
#step 3: The mathematic which we wanna use 
chipo.head()
chipo.groupby('item_name').head() #make the new dataframe 
chipo.groupby('item_name').order_id #-->dataframe 
chipo.groupby('item_name').order_id.sum() #-->serial 
chipo.groupby('item_name').order_id.sum().reset_index() #dataframe 
#chipo.groupby('item_name').order_id.sum().reset_index().rename(columns ={'quantity':'QUANTITY'})
#chipo.head()

                                item_name  order_id
0                       6 Pack Soft Drink     52322
1                           Barbacoa Bowl     53972
2                        Barbacoa Burrito     74718
3                   Barbacoa Crispy Tacos      5613
4                     Barbacoa Salad Bowl      9708
5                     Barbacoa Soft Tacos     18725
6                           Bottled Water    175944
7                                    Bowl       472
8                                 Burrito      1550
9                             Canned Soda     76396
10                      Canned Soft Drink    304753
11                          Carnitas Bowl     62742
12                       Carnitas Burrito     51652
13                  Carnitas Crispy Tacos      5868
14                         Carnitas Salad      1500
15                    Carnitas Salad Bowl      6693
16                    Carnitas Soft Tacos     37673
17                           Chicken Bowl    713926
18                        Chicken Burrito    497303
19                   Chicken Crispy Tacos     47382
20                          Chicken Salad     10465
21                     Chicken Salad Bowl    117104
22                     Chicken Soft Tacos     98395
23                                  Chips    208004
24           Chips and Fresh Tomato Salsa    100419
25                    Chips and Guacamole    449959
26      Chips and Mild Fresh Tomato Salsa       279
27     Chips and Roasted Chili Corn Salsa     14999
28     Chips and Roasted Chili-Corn Salsa     17462
29  Chips and Tomatillo Green Chili Salsa     41170
30    Chips and Tomatillo Red Chili Salsa     45556
31  Chips and Tomatillo-Green Chili Salsa     21826
32    Chips and Tomatillo-Red Chili Salsa     18344
33                           Crispy Tacos       434
34                                   Izze     10587
35                       Nantucket Nectar     21814
36                                  Salad      1150
37                          Side of Chips     84769
38                             Steak Bowl    193752
39                          Steak Burrito    328437
40                     Steak Crispy Tacos     35818
41                            Steak Salad      2362
42                       Steak Salad Bowl     29590
43                       Steak Soft Tacos     50177
44                            Veggie Bowl     72270
45                         Veggie Burrito     80962
46                    Veggie Crispy Tacos       668
47                           Veggie Salad      7265
48                      Veggie Salad Bowl     17303
49                      Veggie Soft Tacos      5520

In [111]:
chipo.groupby('item_name').quantity.sum().nlargest().index[0]
#chipo.groupby('item_name').quantity.sum().nlargest().values[0]

'Chicken Bowl'

In [88]:
chipo.groupby('item_name').quantity.sum().nsmallest(10).reset_index()

                           item_name  quantity
0                     Carnitas Salad         1
1  Chips and Mild Fresh Tomato Salsa         1
2                Veggie Crispy Tacos         1
3                       Crispy Tacos         2
4                              Salad         2
5                               Bowl         4
6                        Steak Salad         4
7                            Burrito         6
8                Carnitas Salad Bowl         6
9                       Veggie Salad         6

In [101]:
chipo.groupby('item_name').quantity.sum().nsmallest(1).values[0]

1

In [103]:
chipo.groupby('item_name').quantity.sum().nsmallest(1).index[0]

'Carnitas Salad'

In [97]:
smallest = chipo.groupby('item_name').quantity.sum().reset_index()
condition = smallest['quantity'] == 2
smallest[condition]

       item_name  quantity
33  Crispy Tacos         2
36         Salad         2

In [120]:
chipo.groupby('item_name').quantity.sum().sort_values(ascending = True) #min->max (are being at serials)
chipo.groupby('item_name').quantity.sum().sort_values(ascending = False) #max->min (are being at serials)

item_name
Chicken Bowl                             761
Chicken Burrito                          591
Chips and Guacamole                      506
Steak Burrito                            386
Canned Soft Drink                        351
Chips                                    230
Steak Bowl                               221
Bottled Water                            211
Chips and Fresh Tomato Salsa             130
Canned Soda                              126
Chicken Salad Bowl                       123
Chicken Soft Tacos                       120
Side of Chips                            110
Veggie Burrito                            97
Barbacoa Burrito                          91
Veggie Bowl                               87
Carnitas Bowl                             71
Barbacoa Bowl                             66
Carnitas Burrito                          60
Steak Soft Tacos                          56
6 Pack Soft Drink                         55
Chips and Tomatillo Red Chili Salsa       50
Chicken Crispy Tacos                      50
Chips and Tomatillo Green Chili Salsa     45
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        36
Chips and Tomatillo-Green Chili Salsa     33
Steak Salad Bowl                          31
Nantucket Nectar                          29
Chips and Tomatillo-Red Chili Salsa       25
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        23
Izze                                      20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     12
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      8
Veggie Soft Tacos                          8
Burrito                                    6
Veggie Salad                               6
Carnitas Salad Bowl                        6
Bowl                                       4
Steak Salad                                4
Salad                                      2
Crispy Tacos                               2
Chips and Mild Fresh Tomato Salsa          1
Carnitas Salad                             1
Veggie Crispy Tacos                        1
Name: quantity, dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [125]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [129]:
#missing percentage of datafram = Number of missiong per ...
chipo.isnull().sum()/len(chipo)*100

order_id               0.000000
quantity               0.000000
item_name              0.000000
choice_description    26.958027
item_price             0.000000
dtype: float64

In [137]:
chipo.groupby('choice_description').quantity.sum().sort_values(ascending = False).index[0]

'[Diet Coke]'

### Step 12. How many items were ordered in total?

In [138]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [144]:
set(chipo.item_name)
chipo.item_name.unique()

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos',
       'Chips and Guacamole', 'Chicken Crispy Tacos',
       'Chicken Soft Tacos', 'Chicken Burrito', 'Canned Soda',
       'Barbacoa Burrito', 'Carnitas Burrito', 'Carnitas Bowl',
       'Bottled Water', 'Chips and Tomatillo Green Chili Salsa',
       'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl', 'Steak Bowl',
       'Barbacoa Soft Tacos', 'Veggie Burrito', 'Veggie Bowl',
       'Steak Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos',
       'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl',
       '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl',
       'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad',
       'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad'],
      dtype=object)

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [145]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [146]:
#object is mean that is string

In [152]:
type(chipo.item_price.iloc[0])

str

#### Step 13.b. Create a lambda function and change the type of item price

In [160]:
#casting 
chipo.item_price.iloc[1][1:]

'3.39 '

In [177]:
def convert_type(x):
    return float(x[1:]) #casting

In [178]:
chipo ['item_price_to_float'] = chipo.item_price.apply(convert_type) #add one colume more 
chipo.info()
chipo.head()
#chipo.item_price.apply excellent

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   order_id             4622 non-null   int64
 1   quantity             4622 non-null   int64
 2   item_name            4622 non-null   object
 3   choice_description   3376 non-null   object
 4   item_price           4622 non-null   object
 5   item_price_to_float  4622 non-null   float64
dtypes: float64(1), int64(2), object(3)
memory usage: 216.8+ KB

,order_id,quantity,item_name,choice_description,item_price,item_price_to_float
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

In [176]:
#pandas documentation more and more information  
book = 'https://bedford-computing.co.uk/learning/wp-content/uploads/2015/10/Python-for-Data-Analysis.pdf'

Rferance: [Python for DataAnalysis](https://bedford-computing.co.uk/learning/wp-content/uploads/2015/10/Python-for-Data-Analysis.pdf)

In [185]:
def convert_type(x):
    return float(x.replace('$','')) #import re
chipo ['item_price_to_float'] = chipo.item_price.apply(convert_type) #add one colume more

In [187]:
import re
dir(re)

['A',
 'ASCII',
 'DEBUG',
 'DOTALL',
 'I',
 'IGNORECASE',
 'L',
 'LOCALE',
 'M',
 'MULTILINE',
 'Match',
 'Pattern',
 'RegexFlag',
 'S',
 'Scanner',
 'T',
 'TEMPLATE',
 'U',
 'UNICODE',
 'VERBOSE',
 'X',
 '_MAXCACHE',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__version__',
 '_cache',
 '_compile',
 '_compile_repl',
 '_expand',
 '_locale',
 '_pickle',
 '_special_chars_map',
 '_subx',
 'compile',
 'copyreg',
 'enum',
 'error',
 'escape',
 'findall',
 'finditer',
 'fullmatch',
 'functools',
 'match',
 'purge',
 'search',
 'split',
 'sre_compile',
 'sre_parse',
 'sub',
 'subn',
 'template']

In [188]:
#lamda is anoymious fuction

In [191]:
convert_type2 = lambda x:x.replace('$','')

In [196]:
chipo ['item_price_to_float'] = chipo.item_price.apply(convert_type2) #add one colume more 
chipo.head()
chipo.item_price_to_float.unique() #sort_value()...

array(['2.39 ', '3.39 ', '16.98 ', '10.98 ', '1.69 ', '11.75 ', '9.25 ',
       '4.45 ', '8.75 ', '11.25 ', '8.49 ', '2.18 ', '8.99 ', '1.09 ',
       '2.95 ', '2.15 ', '3.99 ', '22.50 ', '11.48 ', '17.98 ', '17.50 ',
       '4.30 ', '5.90 ', '1.25 ', '23.78 ', '6.49 ', '11.08 ', '1.50 ',
       '22.16 ', '32.94 ', '22.20 ', '10.58 ', '2.50 ', '23.50 ', '7.40 ',
       '18.50 ', '3.00 ', '6.78 ', '11.89 ', '9.39 ', '4.00 ', '3.75 ',
       '8.69 ', '2.29 ', '8.90 ', '3.27 ', '3.89 ', '8.19 ', '35.00 ',
       '27.75 ', '11.80 ', '6.00 ', '26.25 ', '21.96 ', '4.36 ', '7.50 ',
       '4.78 ', '13.35 ', '6.45 ', '5.07 ', '22.96 ', '7.17 ', '7.98 ',
       '4.50 ', '26.07 ', '12.98 ', '35.25 ', '44.25 ', '10.50 ',
       '33.75 ', '16.38 ', '13.52 ', '5.00 ', '15.00 ', '8.50 ', '17.80 ',
       '1.99 ', '11.49 '], dtype=object)

#### Step 13.c. Check the item price type

In [ ]:
#float

### Step 14. How much was the revenue for the period in the dataset?

In [199]:
chipo.item_price_to_float.sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of 0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
         ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price_to_float, Length: 4622, dtype: object>

### Step 15. How many orders were made in the period?

### Step 16. What is the average revenue amount per order?

### Step 17. How many different items are sold?

## II. Filtering & Sorting

### Step 18. How many products cost more than $10.00?

### Step 19. What is the price of each item? 
###### Print a data frame with only two columns item_name and item_price

### Step 20. Sort by the name of the item

### Step 21. What was the quantity of the most expensive item ordered?

### Step 22. How many times was a Veggie Salad Bowl ordered?

### Step 23. How many times did someone order more than one Canned Soda?

## III. Statistics & Data Engineering

**Reference**: Check out [Chipotle Exercises Video Tutorial](https://www.youtube.com/watch?v=lpuYZ5EUyS8&list=PLgJhDSE2ZLxaY_DigHeiIDC1cD09rXgJv&index=2) to watch a data scientist go through the exercises!