# Thuc hanh lai

I. Know your dataset
This time we are going to pull data directly from the internet. Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

I. Know your dataset

In [3]:
#Step 1. Import the necessary libraries
import pandas as pd

In [4]:
#Step 2. Import the dataset from this address.
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [6]:
#Step 3. Assign it to a variable called chipo.
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [7]:
#Step 4. See the first 10 entries
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [9]:
#Step 5. What is the number of observations in the dataset?
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [10]:
len(chipo)

4622

In [11]:
chipo.shape

(4622, 5)

In [12]:
chipo.shape[0]

4622

In [ ]:
#Step 6. What is the number of columns in the dataset?

In [13]:
chipo.shape[1]

5

In [ ]:
#Step 7. Print the name of all the columns.

In [17]:
chipo.columns.to_list()

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

In [18]:
#type(chipo.columns)

In [ ]:
Step 8. How is the dataset indexed?¶

In [19]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [20]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [ ]:
Step 9. Which was the most-ordered item?

In [22]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [ ]:
#Step 10. For the most-ordered item, how many items were ordered?

In [23]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [26]:
chipo['item_name'].max()

'Veggie Soft Tacos'

In [8]:
chipo.groupby('item_name').quantity.sum()
chipo.head()
chipo.groupby('item_name').head()
chipo.groupby('item_name').order_id.sum()
chipo.groupby('item_name').order_id.sum().reset_index()

                                item_name  order_id
0                       6 Pack Soft Drink     52322
1                           Barbacoa Bowl     53972
2                        Barbacoa Burrito     74718
3                   Barbacoa Crispy Tacos      5613
4                     Barbacoa Salad Bowl      9708
5                     Barbacoa Soft Tacos     18725
6                           Bottled Water    175944
7                                    Bowl       472
8                                 Burrito      1550
9                             Canned Soda     76396
10                      Canned Soft Drink    304753
11                          Carnitas Bowl     62742
12                       Carnitas Burrito     51652
13                  Carnitas Crispy Tacos      5868
14                         Carnitas Salad      1500
15                    Carnitas Salad Bowl      6693
16                    Carnitas Soft Tacos     37673
17                           Chicken Bowl    713926
18                        Chicken Burrito    497303
19                   Chicken Crispy Tacos     47382
20                          Chicken Salad     10465
21                     Chicken Salad Bowl    117104
22                     Chicken Soft Tacos     98395
23                                  Chips    208004
24           Chips and Fresh Tomato Salsa    100419
25                    Chips and Guacamole    449959
26      Chips and Mild Fresh Tomato Salsa       279
27     Chips and Roasted Chili Corn Salsa     14999
28     Chips and Roasted Chili-Corn Salsa     17462
29  Chips and Tomatillo Green Chili Salsa     41170
30    Chips and Tomatillo Red Chili Salsa     45556
31  Chips and Tomatillo-Green Chili Salsa     21826
32    Chips and Tomatillo-Red Chili Salsa     18344
33                           Crispy Tacos       434
34                                   Izze     10587
35                       Nantucket Nectar     21814
36                                  Salad      1150
37                          Side of Chips     84769
38                             Steak Bowl    193752
39                          Steak Burrito    328437
40                     Steak Crispy Tacos     35818
41                            Steak Salad      2362
42                       Steak Salad Bowl     29590
43                       Steak Soft Tacos     50177
44                            Veggie Bowl     72270
45                         Veggie Burrito     80962
46                    Veggie Crispy Tacos       668
47                           Veggie Salad      7265
48                      Veggie Salad Bowl     17303
49                      Veggie Soft Tacos      5520

In [18]:
chipo.groupby('item_name').quantity.sum().nlargest().index[0]

'Chicken Bowl'

In [22]:
chipo.groupby('item_name').quantity.sum().sort_values(ascending = False).index[0]

'Chicken Bowl'

In [24]:
#Step 11. What was the most ordered item in the choice_description column?
#chipo.head(10) #NaN-missing vales
chipo.info()
chipo.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [25]:
# SP duoc goi nhieu nhat trong phan choice description
chipo.groupby('choice_description').quantity.sum().nlargest().index[0]

'[Diet Coke]'

In [27]:
#Step 12. How many items were ordered in total?

set(chipo.item_name)
chipo.item_name.nunique()

50

In [ ]:
Step 13.b. Create a lambda function and change the type of item price

In [ ]:
Step 13.c. Check the item price type

In [ ]:
Step 14. How much was the revenue for the period in the dataset?

In [ ]:
Step 15. How many orders were made in the period?

In [ ]:
Step 16. What is the average revenue amount per order?

In [ ]:
Step 17. How many different items are sold?

In [ ]:
II. Filtering & Sorting
Step 18. How many products cost more than $10.00?

In [ ]:
Step 19. What is the price of each item?

In [ ]:
Step 20. Sort by the name of the item

In [ ]:
Step 21. What was the quantity of the most expensive item ordered?

In [ ]:
Step 22. How many times was a Veggie Salad Bowl ordered?

In [ ]:
Step 23. How many times did someone order more than one Canned Soda?