![](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/1200px-Pandas_logo.svg.png)

# <center> LESSON 6: Practice with PANDAS </center>

## I. Know your dataset

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [5]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Step 3. Assign it to a variable called `chipo`.

In [11]:
chipo = pd.read_csv(url,sep='\t')
#chipo = pd.read_csv('chipotle.tsv')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. See the first 10 entries

In [12]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [15]:
chipo.loc[0:9,:]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [16]:
chipo.iloc[0:10,:]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [17]:
len(chipo)

4622

In [18]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [22]:
chipo.shape

(4622, 5)

In [20]:
chipo.shape[0]

4622

In [21]:
chipo.shape[1]

5

### Step 6. What is the number of columns in the dataset?

In [24]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [29]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [31]:
chipo.columns.to_list()

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [32]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [33]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

1. Quantity per item_name

In [36]:
chipo.groupby('item_name').quantity.sum().reset_index().rename(columns={'quantity':'QUANTITY'})

                                item_name  QUANTITY
0                       6 Pack Soft Drink        55
1                           Barbacoa Bowl        66
2                        Barbacoa Burrito        91
3                   Barbacoa Crispy Tacos        12
4                     Barbacoa Salad Bowl        10
5                     Barbacoa Soft Tacos        25
6                           Bottled Water       211
7                                    Bowl         4
8                                 Burrito         6
9                             Canned Soda       126
10                      Canned Soft Drink       351
11                          Carnitas Bowl        71
12                       Carnitas Burrito        60
13                  Carnitas Crispy Tacos         8
14                         Carnitas Salad         1
15                    Carnitas Salad Bowl         6
16                    Carnitas Soft Tacos        40
17                           Chicken Bowl       761
18                        Chicken Burrito       591
19                   Chicken Crispy Tacos        50
20                          Chicken Salad         9
21                     Chicken Salad Bowl       123
22                     Chicken Soft Tacos       120
23                                  Chips       230
24           Chips and Fresh Tomato Salsa       130
25                    Chips and Guacamole       506
26      Chips and Mild Fresh Tomato Salsa         1
27     Chips and Roasted Chili Corn Salsa        23
28     Chips and Roasted Chili-Corn Salsa        18
29  Chips and Tomatillo Green Chili Salsa        45
30    Chips and Tomatillo Red Chili Salsa        50
31  Chips and Tomatillo-Green Chili Salsa        33
32    Chips and Tomatillo-Red Chili Salsa        25
33                           Crispy Tacos         2
34                                   Izze        20
35                       Nantucket Nectar        29
36                                  Salad         2
37                          Side of Chips       110
38                             Steak Bowl       221
39                          Steak Burrito       386
40                     Steak Crispy Tacos        36
41                            Steak Salad         4
42                       Steak Salad Bowl        31
43                       Steak Soft Tacos        56
44                            Veggie Bowl        87
45                         Veggie Burrito        97
46                    Veggie Crispy Tacos         1
47                           Veggie Salad         6
48                      Veggie Salad Bowl        18
49                      Veggie Soft Tacos         8

2. Item_name has largest quantity

In [53]:
chipo.groupby('item_name').quantity.sum()

item_name
6 Pack Soft Drink                         55
Barbacoa Bowl                             66
Barbacoa Burrito                          91
Barbacoa Crispy Tacos                     12
Barbacoa Salad Bowl                       10
Barbacoa Soft Tacos                       25
Bottled Water                            211
Bowl                                       4
Burrito                                    6
Canned Soda                              126
Canned Soft Drink                        351
Carnitas Bowl                             71
Carnitas Burrito                          60
Carnitas Crispy Tacos                      8
Carnitas Salad                             1
Carnitas Salad Bowl                        6
Carnitas Soft Tacos                       40
Chicken Bowl                             761
Chicken Burrito                          591
Chicken Crispy Tacos                      50
Chicken Salad                              9
Chicken Salad Bowl                       123
Chicken Soft Tacos                       120
Chips                                    230
Chips and Fresh Tomato Salsa             130
Chips and Guacamole                      506
Chips and Mild Fresh Tomato Salsa          1
Chips and Roasted Chili Corn Salsa        23
Chips and Roasted Chili-Corn Salsa        18
Chips and Tomatillo Green Chili Salsa     45
Chips and Tomatillo Red Chili Salsa       50
Chips and Tomatillo-Green Chili Salsa     33
Chips and Tomatillo-Red Chili Salsa       25
Crispy Tacos                               2
Izze                                      20
Nantucket Nectar                          29
Salad                                      2
Side of Chips                            110
Steak Bowl                               221
Steak Burrito                            386
Steak Crispy Tacos                        36
Steak Salad                                4
Steak Salad Bowl                          31
Steak Soft Tacos                          56
Veggie Bowl                               87
Veggie Burrito                            97
Veggie Crispy Tacos                        1
Veggie Salad                               6
Veggie Salad Bowl                         18
Veggie Soft Tacos                          8
Name: quantity, dtype: int64

In [51]:
chipo.groupby('item_name').quantity.sum().sort_values(ascending=False)

item_name
Chicken Bowl                             761
Chicken Burrito                          591
Chips and Guacamole                      506
Steak Burrito                            386
Canned Soft Drink                        351
Chips                                    230
Steak Bowl                               221
Bottled Water                            211
Chips and Fresh Tomato Salsa             130
Canned Soda                              126
Chicken Salad Bowl                       123
Chicken Soft Tacos                       120
Side of Chips                            110
Veggie Burrito                            97
Barbacoa Burrito                          91
Veggie Bowl                               87
Carnitas Bowl                             71
Barbacoa Bowl                             66
Carnitas Burrito                          60
Steak Soft Tacos                          56
6 Pack Soft Drink                         55
Chips and Tomatillo Red Chili Salsa       50
Chicken Crispy Tacos                      50
Chips and Tomatillo Green Chili Salsa     45
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        36
Chips and Tomatillo-Green Chili Salsa     33
Steak Salad Bowl                          31
Nantucket Nectar                          29
Chips and Tomatillo-Red Chili Salsa       25
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        23
Izze                                      20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     12
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      8
Veggie Soft Tacos                          8
Burrito                                    6
Veggie Salad                               6
Carnitas Salad Bowl                        6
Bowl                                       4
Steak Salad                                4
Salad                                      2
Crispy Tacos                               2
Chips and Mild Fresh Tomato Salsa          1
Carnitas Salad                             1
Veggie Crispy Tacos                        1
Name: quantity, dtype: int64

In [52]:
chipo.groupby('item_name').quantity.sum().nlargest(1)

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

In [38]:
chipo.groupby('item_name').quantity.sum().nsmallest(10)

item_name
Carnitas Salad                       1
Chips and Mild Fresh Tomato Salsa    1
Veggie Crispy Tacos                  1
Crispy Tacos                         2
Salad                                2
Bowl                                 4
Steak Salad                          4
Burrito                              6
Carnitas Salad Bowl                  6
Veggie Salad                         6
Name: quantity, dtype: int64

In [42]:
chipo.groupby('item_name').quantity.sum().nsmallest(1).values[0]

1

In [48]:
chipo.groupby('item_name').quantity.sum().nsmallest(10).index[0]

'Carnitas Salad'

In [40]:
smallest = chipo.groupby('item_name').quantity.sum().reset_index()
smallest[smallest['quantity']==1]

                            item_name  quantity
14                     Carnitas Salad         1
26  Chips and Mild Fresh Tomato Salsa         1
46                Veggie Crispy Tacos         1

### Step 10. For the most-ordered item, how many items were ordered?

In [49]:
chipo.groupby('item_name').quantity.sum().nlargest(1).values[0]

761

In [54]:
chipo.groupby('item_name').quantity.sum().sort_values(ascending=False).values[0]

761

### Step 11. What was the most ordered item in the choice_description column?

In [55]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [58]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [59]:
# check missing percentage of dataframe - Number of missing per columns / number of total observations

In [63]:
chipo.isnull().sum()/len(chipo) # ti le missing la 26.95%

order_id              0.00000
quantity              0.00000
item_name             0.00000
choice_description    0.26958
item_price            0.00000
dtype: float64

In [67]:
chipo.groupby('choice_description').quantity.sum().nlargest(1).index[0]

'[Diet Coke]'

### Step 12. How many items were ordered in total?

In [68]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [69]:
chipo.item_name.unique()

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos',
       'Chips and Guacamole', 'Chicken Crispy Tacos',
       'Chicken Soft Tacos', 'Chicken Burrito', 'Canned Soda',
       'Barbacoa Burrito', 'Carnitas Burrito', 'Carnitas Bowl',
       'Bottled Water', 'Chips and Tomatillo Green Chili Salsa',
       'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl', 'Steak Bowl',
       'Barbacoa Soft Tacos', 'Veggie Burrito', 'Veggie Bowl',
       'Steak Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos',
       'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl',
       '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl',
       'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad',
       'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad'],
      dtype=object)

In [70]:
len(chipo.item_name.unique())

50

In [71]:
chipo.item_name.nunique()

50

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [72]:
chipo.info() #object la dinh dang string

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [74]:
type(chipo.item_price.iloc[0])

str

#### Step 13.b. Create a lambda function and change the type of item price

In [75]:
chipo.item_price.iloc[0]

'$2.39 '

In [76]:
 '$2.39'[1:]

'2.39'

In [82]:
def convert_type(x):
    return float(x[1:])

In [83]:
chipo.item_price.apply(convert_type)

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [84]:
chipo['item_price_float'] = chipo.item_price.apply(convert_type)

In [85]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price,item_price_float
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

In [86]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
 5   item_price_float    4622 non-null   float64
dtypes: float64(1), int64(2), object(3)
memory usage: 216.8+ KB

In [89]:
'$2.39'.replace('$',"")

'2.39'

In [88]:
def convert_type(x):
    return float(x,replace('$',''))

In [92]:
convert_type2 = lambda x: float(x,replace('$',''))#business logic

#### Step 13.c. Check the item price type

In [96]:
type(chipo.item_price_float.iloc[0])

numpy.float64

### Step 14. How much was the revenue for the period in the dataset?

In [97]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price,item_price_float
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

In [98]:
chipo.item_price_float.sum()

34500.16

### Step 15. How many orders were made in the period?

In [99]:
chipo.order_id.nunique()

1834

In [100]:
len(chipo.order_id.unique())

1834

### Step 16. What is the average revenue amount per order?

In [101]:
chipo.item_price_float.sum()/chipo.order_id.nunique()

18.811428571428575

### Step 17. How many different items are sold?

## II. Filtering & Sorting

### Step 18. How many products cost more than $10.00?

In [102]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price,item_price_float
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

In [105]:
chipo['price_per_item'] = chipo['item_price_float']/chipo['quantity']
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price,item_price_float,price_per_item
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98,8.49

In [107]:
chipo['price_per_item'] = [x/y for x,y in list(zip(chipo['item_price_float'],chipo['quantity']))]
chipo

,order_id,quantity,item_name,choice_description,item_price,item_price_float,price_per_item
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98,8.49
...,...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75,8.75

In [106]:
chipo[chipo['price_per_item']>10]

,order_id,quantity,item_name,choice_description,item_price,item_price_float,price_per_item
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,10.98,10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,11.75,11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25,11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",$10.98,10.98,10.98
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$11.75,11.75,11.75
...,...,...,...,...,...,...,...
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75,11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",$11.25,11.25,11.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25,11.25

### Step 19. What is the price of each item? 
###### Print a data frame with only two columns item_name and item_price

In [129]:
chipo[['item_name','price_per_item']].drop_duplicates()

                                  item_name  price_per_item
0              Chips and Fresh Tomato Salsa            2.39
1                                      Izze            3.39
2                          Nantucket Nectar            3.39
3     Chips and Tomatillo-Green Chili Salsa            2.39
4                              Chicken Bowl            8.49
5                              Chicken Bowl           10.98
6                             Side of Chips            1.69
7                             Steak Burrito           11.75
8                          Steak Soft Tacos            9.25
9                             Steak Burrito            9.25
10                      Chips and Guacamole            4.45
11                     Chicken Crispy Tacos            8.75
12                       Chicken Soft Tacos            8.75
13                             Chicken Bowl           11.25
16                          Chicken Burrito            8.49
18                              Canned Soda            1.09
19                             Chicken Bowl            8.75
21                         Barbacoa Burrito            8.99
23                          Chicken Burrito           10.98
27                         Carnitas Burrito            8.99
31                            Steak Burrito            8.99
33                            Carnitas Bowl            8.99
34                            Bottled Water            1.09
38    Chips and Tomatillo Green Chili Salsa            2.95
39                            Barbacoa Bowl           11.75
40                                    Chips            2.15
44                       Chicken Salad Bowl            8.75
49                      Chips and Guacamole            3.99
54                               Steak Bowl            8.99
56                      Barbacoa Soft Tacos            9.25
57                           Veggie Burrito           11.25
62                              Veggie Bowl           11.25
63                          Chicken Burrito            8.75
65                         Steak Soft Tacos            8.99
79                       Chicken Soft Tacos           11.25
81                         Barbacoa Burrito            9.25
85                              Veggie Bowl            8.49
88                         Carnitas Burrito            9.25
89             Chips and Fresh Tomato Salsa            2.95
90                               Steak Bowl           11.75
92                       Steak Crispy Tacos            9.25
93                         Carnitas Burrito           11.75
95                            Barbacoa Bowl            9.25
97                            Carnitas Bowl           11.75
104                          Veggie Burrito            8.49
111     Chips and Tomatillo Red Chili Salsa            2.95
115                           Barbacoa Bowl            8.99
130                        Barbacoa Burrito           11.75
135                      Chicken Salad Bowl           11.25
145                           Carnitas Bowl            9.25
147                           Steak Burrito           11.48
163                           Carnitas Bowl           11.48
167                         Chicken Burrito           11.25
168                   Barbacoa Crispy Tacos           11.75
186                       Veggie Salad Bowl           11.25
187                              Steak Bowl           11.48
191      Chips and Roasted Chili-Corn Salsa            2.39
207                              Steak Bowl            9.25
233      Chips and Roasted Chili Corn Salsa            2.95
237                     Carnitas Soft Tacos            9.25
250                           Chicken Salad           10.98
253                             Veggie Bowl            8.75
255                   Barbacoa Crispy Tacos            9.25
263                       Canned Soft Drink            1.25
268                     Barbacoa Soft Tacos            8.99
281                        Steak Salad Bowl           11.89
298                       6 Pack Soft Drink            6.49
300     Chips and Tomatillo-Red Chili Salsa            2.39
313                      Chicken Soft Tacos            8.49
322                           Steak Burrito           11.08
329                           Bottled Water            1.50
365                    Chicken Crispy Tacos           11.25
409                            Chicken Bowl           10.98
427                      Chicken Soft Tacos           10.98
429                   Barbacoa Crispy Tacos           11.48
435                          Veggie Burrito           10.98
437                      Steak Crispy Tacos            8.99
445                                    Bowl            7.40
471                           Barbacoa Bowl           11.48
476                         Chicken Burrito           10.58
510                                 Burrito            7.40
520                            Crispy Tacos            7.40
554                   Carnitas Crispy Tacos            9.25
598                    Chicken Crispy Tacos            8.49
607                        Steak Salad Bowl            9.39
623                          Veggie Burrito            8.75
664                             Steak Salad            8.99
667                     Carnitas Soft Tacos            8.99
673                                    Bowl            7.40
674       Chips and Mild Fresh Tomato Salsa            3.00
676                     Chips and Guacamole            4.00
728                           Steak Burrito            8.69
729                      Steak Crispy Tacos            8.69
730            Chips and Fresh Tomato Salsa            2.29
738                       Veggie Soft Tacos           11.25
781                       Veggie Soft Tacos            8.75
822                           Carnitas Bowl           11.08
825                              Steak Bowl           11.08
926                              Steak Bowl            8.69
927                     Chips and Guacamole            3.89
960                       Veggie Salad Bowl            8.75
988                     Barbacoa Soft Tacos           11.75
1008                  Carnitas Crispy Tacos           11.75
1019                  Barbacoa Crispy Tacos            8.99
1027                   Chicken Crispy Tacos           10.98
1063                       Carnitas Burrito           11.48
1132                    Carnitas Salad Bowl           11.89
1161                        Chicken Burrito            8.19
1195                  Carnitas Crispy Tacos            8.99
1229                    Barbacoa Salad Bowl           11.89
1353                       Steak Soft Tacos           11.75
1395                      Veggie Soft Tacos            8.49
1414                                  Salad            7.40
1418                    Barbacoa Salad Bowl            9.39
1648                       Barbacoa Burrito           11.08
1653                    Veggie Crispy Tacos            8.49
1694                           Veggie Salad            8.49
1721                       Steak Soft Tacos           11.48
1863                            Veggie Bowl           10.98
1865                    Carnitas Salad Bowl            9.39
1963                    Carnitas Soft Tacos           11.75
2231                     Steak Crispy Tacos           11.75
2884                       Carnitas Burrito           11.08
2918                           Chicken Bowl            8.19
2919                           Chicken Bowl           10.58
2944                          Side of Chips            1.69
2968                          Chicken Salad            8.49
3156                       Barbacoa Burrito            8.69
3184                    Barbacoa Soft Tacos           11.48
3195                          Barbacoa Bowl            8.69
3252                       Carnitas Burrito            8.69
3276                       Barbacoa Burrito           11.48
3502                            Steak Salad            8.69
3750                         Carnitas Salad            8.99
3989                          Chicken Salad            8.19
4235                           Chicken Bowl            8.50
4237                    Chips and Guacamole            4.25
4509                                  Chips            1.99
4510                          Barbacoa Bowl           11.49

### Step 20. Sort by the name of the item

chipo.sort_values(by='item_name')

### Step 21. What was the quantity of the most expensive item ordered?

In [ ]:
chipo.price_per_item.max()
chipo[chipo.price_per_item == price_per_item.max()]

### Step 22. How many times was a Veggie Salad Bowl ordered?

In [137]:
len(chipo[chipo['item_name'] == 'Veggie Salad Bowl'].order_id.unique())

18

### Step 23. How many times did someone order more than one Canned Soda?

## III. Statistics & Data Engineering

In [112]:
chipo.drop_duplicates(subset = ['item_name'],keep='first')

,order_id,quantity,item_name,choice_description,item_price,item_price_float,price_per_item
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98,8.49
6,3,1,Side of Chips,NaN,$1.69,1.69,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,11.75,11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25,9.25,9.25
10,5,1,Chips and Guacamole,NaN,$4.45,4.45,4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75,8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75,8.75,8.75
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49,8.49,8.49
18,9,2,Canned Soda,[Sprite],$2.18,2.18,1.09
21,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$8.99,8.99,8.99
27,14,1,Carnitas Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",$8.99,8.99,8.99
33,17,1,Carnitas Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99,8.99,8.99
34,17,1,Bottled Water,NaN,$1.09,1.09,1.09
38,18,1,Chips and Tomatillo Green Chili Salsa,NaN,$2.95,2.95,2.95
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$11.75,11.75,11.75
40,19,1,Chips,NaN,$2.15,2.15,2.15
44,20,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75,8.75
54,25,1,Steak Bowl,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.99,8.99,8.99
56,26,1,Barbacoa Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",$9.25,9.25,9.25
57,26,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25,11.25,11.25
62,28,1,Veggie Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25,11.25
92,40,1,Steak Crispy Tacos,"[Fresh Tomato Salsa, Sour Cream]",$9.25,9.25,9.25
111,49,1,Chips and Tomatillo Red Chili Salsa,NaN,$2.95,2.95,2.95
168,75,1,Barbacoa Crispy Tacos,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$11.75,11.75,11.75
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25,11.25
191,85,1,Chips and Roasted Chili-Corn Salsa,NaN,$2.39,2.39,2.39
233,102,1,Chips and Roasted Chili Corn Salsa,NaN,$2.95,2.95,2.95
237,103,1,Carnitas Soft Tacos,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$9.25,9.25,9.25
250,109,1,Chicken Salad,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$10.98,10.98,10.98
263,114,1,Canned Soft Drink,[Coke],$1.25,1.25,1.25
281,123,2,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",$23.78,23.78,11.89
298,129,1,6 Pack Soft Drink,[Sprite],$6.49,6.49,6.49
300,130,1,Chips and Tomatillo-Red Chili Salsa,NaN,$2.39,2.39,2.39
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20,22.20,7.40
510,214,1,Burrito,"[Adobo-Marinated and Grilled Chicken, Pinto Be...",$7.40,7.40,7.40
520,217,1,Crispy Tacos,[Adobo-Marinated and Grilled Steak],$7.40,7.40,7.40
554,230,1,Carnitas Crispy Tacos,[Roasted Chili Corn Salsa],$9.25,9.25,9.25
664,276,1,Steak Salad,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99,8.99,8.99
674,279,1,Chips and Mild Fresh Tomato Salsa,NaN,$3.00,3.00,3.00
738,304,1,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25,11.25,11.25
1132,468,1,Carnitas Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$11.89,11.89,11.89
1229,501,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",$11.89,11.89,11.89
1414,575,1,Salad,"[Brown Rice, Adobo-Marinated and Grilled Chick...",$7.40,7.40,7.40
1653,668,1,Veggie Crispy Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49,8.49,8.49
1694,686,1,Veggie Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",$8.49,8.49,8.49
3750,1500,1,Carnitas Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",$8.99,8.99,8.99

In [113]:
len(chipo.drop_duplicates(subset = ['item_name']))

50

**Reference**: Check out [Chipotle Exercises Video Tutorial](https://www.youtube.com/watch?v=lpuYZ5EUyS8&list=PLgJhDSE2ZLxaY_DigHeiIDC1cD09rXgJv&index=2) to watch a data scientist go through the exercises!