# Lesson 5

## 1. Introduction

Pandas = Panel Data

`ref` = [Pandas Document](https://pandas.pydata.org/)

**Install**

- Install when creating enviroment
`
conda create -n env_name python=3.8 pandas
`

## 2. Foundation / Basics

### 2.1 Objects in Pandas

Data:
- Structured data: table
- Unstructured data: text, image

Objects in pandas

- `Dataframe`: the name table or spreadsheet in Pandas
- `Series`: a column in dataframe

![](https://media.geeksforgeeks.org/wp-content/cdn-uploads/creating_dataframe1.png)

![](https://www.datasciencemadesimple.com/wp-content/uploads/2020/05/create-series-in-python-pandas-0.png?ezimgfmt=ng%3Awebp%2Fngcb1%2Frs%3Adevice%2Frscb1-1)

### 2.2 Create dataframe

In [7]:
import pandas as pd

- `pd.DataFrame()`
- `pd.Series()`

In [10]:
dict1 = {'name': ['Chi','Hao','Ten2','ten3'],
         'age': [12,24,32,22]}
df = pd.DataFrame(dict1)
df

   name  age
0   Chi   12
1   Hao   24
2  Ten2   32
3  ten3   22

In [11]:
type(df)

pandas.core.frame.DataFrame

In [14]:
list_of_list = [['Chi',12],['Hao',24],['Ten2',32],['ten3',22]]
df1 = pd.DataFrame(list_of_list, columns = ['Name', 'Age'])
df1

   Name  Age
0   Chi   12
1   Hao   24
2  Ten2   32
3  ten3   22

In [19]:
name = ['Chi','Hao','Ten2','ten3']
tuoi = [12,24,32,22]
df2 = pd.DataFrame(zip(name,tuoi), columns = ['Name','Age'])
df2

   Name  Age
0   Chi   12
1   Hao   24
2  Ten2   32
3  ten3   22

### 2.3 Creating a Serie

In [21]:
series = df2['Name']
series

0     Chi
1     Hao
2    Ten2
3    ten3
Name: Name, dtype: object

In [23]:
series1 = df2.Name
series1

0     Chi
1     Hao
2    Ten2
3    ten3
Name: Name, dtype: object

In [24]:
df2 = pd.DataFrame(zip(name,tuoi), columns = ['Họ và tên','Tuổi'])
df2

  Họ và tên  Tuổi
0       Chi    12
1       Hao    24
2      Ten2    32
3      ten3    22

In [25]:
series = df2.Họ và tên

SyntaxError: invalid syntax (<ipython-input-25-f9b8198e0207>, line 1)

### 2.4 I/O - Input/Output (Load and save data)

In [28]:
df = pd.read_csv('C:\Users\ADMIN\Documents\GitHub\mci_python_31_level_1\Assignments\Session_03\Pandas\Ecommerce Purchases.csv')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-28-7f6f03360e7e>, line 1)

In [ ]:
df2 = pd.read_csv('https://')