# <center> LESSION3 </center>

## PROGRAMMING FLOW

* Sequential: Step by steps together until done the programing
* Loop: For While
* Condition: If else elif

### 1. Sequential

In [1]:
print ("Hi all")
print("hi")
print('hi man')

Hi all
hi
hi man

### 2.Loop

* Interation: process each element frequently
- For 
- While

### 2.1. For

- for value in interable
- do something 
- if need can break our continue whatever

- Use index: List Tuble Tupe Set Array

In [2]:
range?

Init signature: range(self, /, *args, **kwargs)
Docstring:
range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).
Type:           type
Subclasses:

In [3]:
list(range(100,0,-1))[:5]

[100, 99, 98, 97, 96]

In [4]:
# for index in range(len(interable)):
    #business logic

In [5]:
#Tab in python we call: Indent 
# We just can use only Table or Sapce

In [6]:
#casting ép kiểu: ép kiểu dữ liệu để chuyển databasetype

In [7]:
a= '1'

In [8]:
int(a)

1

In [9]:
b='i'

### 2.2. While

In [10]:
# While Condition: <Thecondition mean we have True or False>
    #bussiness logic #indent 
    #break when condition is False

In [11]:
range(10)

range(0, 10)

In [12]:
print([method for method in dir(range) if not method.startswith("_")])

['count', 'index', 'start', 'step', 'stop']

In [13]:
import pyspark
import pandas
[method for method in dir(pandas) if not method.startswith("_")]

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

|||
|-|-|
|range()|linspace()|
|inclusived-exclusived value|inclusived-inclusivedvalue|

In [45]:
a=list(range(2,10))

In [53]:
a=[1,3,7,2]
a.sort()
a

[1, 2, 3, 7]

In [ ]:
import numpy as np 
list(np.linspace(0,10,100).sort_values(ascending=False))

In [26]:
list(range(2,10,2))

[2, 4, 6, 8]

# Casting (gán)

In [27]:
a = '1'

In [28]:
type(a)

str

In [29]:
a*2

'11'

In [30]:
#We have to check type of varibale carefully

In [31]:
int(a)*2

2

- int 
- float()
- str()

In [32]:
#Check more information at Pythoncourse

In [33]:
int(3.14)

3

In [34]:
#Note that when we tabke the interger of float number, we just have intergeation part of float()

In [35]:
#len: use to claculate the length of list or ...

In [36]:
#Excercise:

<p> Excercise </p>
We have a list from 0 to 10
Make lít containing exponenatation of each item in the list

In [37]:
newlist= []
for i in range(0,11):
    newlist.append(i**2)
print(newlist)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [38]:
#calculate the N!

In [ ]:
x = input("Enter the value you wanna make the N!:")
value = 1
for i in range(1,int(x)):
    value = value * i
final = value * int(x)
print(final)

### 2.2 WHILE

In [ ]:
# While Condition:
    #bussiness logic #indent 
    #break when condition is False

In [17]:
i=1
while i <5:
    print("Hi am Dat")
    i +=1
#white condition is True:
          #businnes logic
          #break when condition is False

Hi am Dat
Hi am Dat
Hi am Dat
Hi am Dat

In [ ]:
# Note that while is infinitive loop therefore pls controll welll

In [ ]:
# String Format
a = "MCI"
b = "Lession3"
print (a+b)

In [ ]:
print('Hello {}'.format(a))

In [61]:
print("hello %s" %(a))

hello MCI

In [63]:
#do N with while
x = input("Enter Value:")
final =1
x = int(x)
while x >0:
    final = final *x 
    x -=1
print('Value {}'.format(final))

Enter Value: 8

Value 40320

In [64]:
#Note Hàm Truyền

## 3. Condition

- syntax 
 
 * if condition1:
 *   business logic1#intent 
 * elif condition2:
 *   business logic2#intent
 * else:
 *   business logic3#intent

In [18]:
#if condition is True:
    #do:business logic
#elif:condition2 is True: do .....
#else: do ...

In [19]:
x =1 
y =3
if x <y:
    print ('x ix smaller than y')
else:
    print ('y is smaller than x')

x ix smaller than y

### 4. Function
- Build-in function
- User-defined function

In [20]:
# def fucntion_name(arg1, arg2,....):
    #bussiness logic
    #return -->optional

In [21]:
li = [1,2,3,5]
def length_list(li):
    #bussiness logic
    length = li.index(li[-1])+1
    #return -->optional
    return length
print(length_list(li))

4

- sum 
- average()

In [22]:
def sum_abc(li):
    sum_value = 0
    for i in li:
        sum_value+=i
    return sum_value

In [23]:
sum_abc(li)

11

In [24]:
def average_abc(li):
    sum_value = 0
    for i in li:
        sum_value+=i
    return sum_value/len(li)

In [25]:
average_abc(li)

2.75

**Anoynimous fucntion**

syntax: Output = lambla datastruture:datascture and algorithms

In [26]:
y = lambda x: x**2
y(2)

4

### 5. Comprehension

In [27]:
li = [1,2,3]
li2 = []
for i in li:
    li2.append(i**2)
li2

[1, 4, 9]

In [28]:
[i**2 for i in [1,2,3]]

[1, 4, 9]

In [29]:
print([i for i in list(range(10))])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
# Note Comprehension for leaning at home

note that we do not need to use [], it means that it is list

In [31]:
li3 = {i**2 for i in li } #for example we have the set
li3

{1, 4, 9}

In [32]:
li3 = tuple(i**2 for i in li)# we have to call tuple instead of having to use the ()
li3

(1, 4, 9)

Excercise: return a list containning odd numbers giuven orginal list

In [33]:
li = [1,2,3,4,5,6,8,9]
li2 = [i for i in li if i%2 ==1]
li2

[1, 3, 5, 9]

Excercise: return a list containning 
- odd numbers giuven orginal list **2 
- even item: x

In [34]:
li = [1,2,3,4,5,6,8,9]
li2 = [i**2 if i%2 ==1 else i for i in li]

In [35]:
li2

[1, 2, 9, 4, 25, 6, 8, 81]

In [36]:
li4 = [[1,2,3],
       [2,3,4],
       [7,8,9]]

In [37]:
[i for sub_li in li4 for i in sub_li] # chỉ sử dụng 1-2 vòng loop

[1, 2, 3, 2, 3, 4, 7, 8, 9]

For more detail of Comprehension we can access it at: https://viblo.asia/p/su-dung-comprehensions-trong-python-pVYRPjJEG4ng

syntax: f(x) for x in interable if i condion

In [38]:
li = [1,2,3,4,5,6,7,9]
print([value*value if value%2==1 else value for value in li])

[1, 2, 9, 4, 25, 6, 49, 81]

In [19]:
a= [i for i in li if i%2==1]

In [66]:
a

[1, 6, 3, 18, 5, 38, 7, 9]

syntax with else: f(x) if condition1 g(x) if condition2 else h(x) for i in interable

In [63]:
print([i for i in a if i>3])

[4, 16, 5, 36, 7, 9]

In [67]:
#Comprehension

* Tóm lại, để tạo ra một list ta dùng:[f(x) for x in iterable if condition ]
* và sử dụng cú pháp dưới đây để tạo set hoặc dict:  { f(x) for x in iterable if condition }

In [42]:
# for multiple conditions
a=[1,2,3,complex(1+2j),5,6,7,5]
[value*2 if value==1 else value for value in a]

[2, 2, 3, (1+2j), 5, 6, 7, 5]