# <center> LESSION3 </center>

## PROGRAMMING FLOW

* Sequential: Step by steps together until done the programing
* Loop: For While
* Condition: If else elif

### 1. Sequential

In [1]:
print ("Hi all")
print("hi")
print('hi man')

Hi all
hi
hi man

### 2.Loop

* Interation: process each element frequently
- For 
- While

### 2.1. For

- for value in interable
- do something 
- if need can break our continue whatever

- Use index: List Tuble Tupe Set Array

In [3]:
range?

Init signature: range(self, /, *args, **kwargs)
Docstring:
range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).
Type:           type
Subclasses:

In [12]:
list(range(100,0,-1))[:5]

[100, 99, 98, 97, 96]

In [2]:
# for index in range(len(interable)):
    #business logic

In [4]:
#Tab in python we call: Indent 
# We just can use only Table or Sapce

In [14]:
#casting ép kiểu: ép kiểu dữ liệu để chuyển databasetype

In [15]:
a= '1'

In [18]:
int(a)

1

In [19]:
b='i'

### 2.2. While

In [7]:
# While Condition: <Thecondition mean we have True or False>
    #bussiness logic #indent 
    #break when condition is False

In [22]:
range(10)

range(0, 10)

In [23]:
print([method for method in dir(range) if not method.startswith("_")])

['count', 'index', 'start', 'step', 'stop']

|||
|-|-|
|range()|linspace()|
|inclusived-exclusived value|inclusived-inclusivedvalue|

In [45]:
a=list(range(2,10))

In [53]:
a=[1,3,7,2]
a.sort()
a

[1, 2, 3, 7]

In [ ]:
import numpy as np 
list(np.linspace(0,10,100).sort_values(ascending=False))

In [26]:
list(range(2,10,2))

[2, 4, 6, 8]

# Casting (gán)

In [27]:
a = '1'

In [28]:
type(a)

str

In [29]:
a*2

'11'

In [30]:
#We have to check type of varibale carefully

In [31]:
int(a)*2

2

- int 
- float()
- str()

In [32]:
#Check more information at Pythoncourse

In [33]:
int(3.14)

3

In [34]:
#Note that when we tabke the interger of float number, we just have intergeation part of float()

In [35]:
#len: use to claculate the length of list or ...

In [36]:
#Excercise:

<p> Excercise </p>
We have a list from 0 to 10
Make lít containing exponenatation of each item in the list

In [37]:
newlist= []
for i in range(0,11):
    newlist.append(i**2)
print(newlist)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [38]:
#calculate the N!

In [ ]:
x = input("Enter the value you wanna make the N!:")
value = 1
for i in range(1,int(x)):
    value = value * i
final = value * int(x)
print(final)

### 2.2 WHILE

In [ ]:
# While Condition:
    #bussiness logic #indent 
    #break when condition is False

In [ ]:
while i <a:
    print(f"hello {i})#f is format
    i +=1

In [ ]:
# Note that while is infinitive loop therefore pls controll welll

In [ ]:
# String Format
a = "MCI"
b = "Lession3"
print (a+b)

In [ ]:
print('Hello {}'.format(a))

In [61]:
print("hello %s" %(a))

hello MCI

In [63]:
#do N with while
x = input("Enter Value:")
final =1
x = int(x)
while x >0:
    final = final *x 
    x -=1
print('Value {}'.format(final))

Enter Value: 8

Value 40320

In [64]:
#Note Hàm Truyền

## 3. Condition

- syntax 
 
 * if condition1:
 *   business logic1#intent 
 * elif condition2:
 *   business logic2#intent
 * else:
 *   business logic3#intent

In [65]:
x =1 
y =3
if x <y:
    print ('x ix smaller than y')
else:
    print ('y is smaller than x')

x ix smaller than y

### 4. Function
- Build-in function
- User-defined function

In [67]:
# def fucntion_name(arg1, arg2,....):
    #bussiness logic
    #return -->optional

In [75]:
li = [1,2,3,5]
def length_list(li):
    #bussiness logic
    length = li.index(li[-1])+1
    #return -->optional
    return length
print(length_list(li))

4

- sum 
- average()

In [74]:
def sum_abc(li):
    sum_value = 0
    for i in li:
        sum_value+=i
    return sum_value

In [76]:
sum_abc(li)

11

In [77]:
def average_abc(li):
    sum_value = 0
    for i in li:
        sum_value+=i
    return sum_value/len(li)

In [82]:
average_abc(li)

2.75

**Anoynimous fucntion**

syntax: Output = lambla datastruture:datascture and algorithms

In [15]:
y = lambda x: x**2
y(2)

4

### 5. Comprehension

In [23]:
li = [1,2,3]
li2 = []
for i in li:
    li2.append(i**2)
li2

[1, 4, 9]

In [24]:
[i**2 for i in [1,2,3]]

[1, 4, 9]

In [25]:
print([i for i in list(range(10))])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
# Note Comprehension for leaning at home

note that we do not need to use [], it means that it is list

In [27]:
li3 = {i**2 for i in li } #for example we have the set
li3

{1, 4, 9}

In [28]:
li3 = tuple(i**2 for i in li)# we have to call tuple instead of having to use the ()
li3

(1, 4, 9)

Excercise: return a list containning odd numbers giuven orginal list

In [29]:
li = [1,2,3,4,5,6,8,9]
li2 = [i for i in li if i%2 ==1]
li2

[1, 3, 5, 9]

Excercise: return a list containning 
- odd numbers giuven orginal list **2 
- even item: x

In [30]:
li = [1,2,3,4,5,6,8,9]
li2 = [i**2 if i%2 ==1 else i for i in li]

In [31]:
li2

[1, 2, 9, 4, 25, 6, 8, 81]

In [32]:
li4 = [[1,2,3],
       [2,3,4],
       [7,8,9]]

In [33]:
[i for sub_li in li4 for i in sub_li] # chỉ sử dụng 1-2 vòng loop

[1, 2, 3, 2, 3, 4, 7, 8, 9]

For more detail of Comprehension we can access it at: https://viblo.asia/p/su-dung-comprehensions-trong-python-pVYRPjJEG4ng

syntax: f(x) for x in interable if i condion

In [54]:
li = [1,2,3,4,5,6,7,9]

In [55]:
a= [i for i in li if i%2==1]

In [56]:
a

[1, 3, 5, 7, 9]

In [65]:
a = [i^2 if i%2==0 else i for i in a]#Note that if we have else we have to move if and else to in front of for

In [66]:
a

[1, 6, 3, 18, 5, 38, 7, 9]

syntax with else: f(x) if condition1 g(x) if condition2 else h(x) for i in interable

In [63]:
print([i for i in a if i>3])

[4, 16, 5, 36, 7, 9]

In [67]:
#Comprehension

* Tóm lại, để tạo ra một list ta dùng:[f(x) for x in iterable if condition ]
* và sử dụng cú pháp dưới đây để tạo set hoặc dict:  { f(x) for x in iterable if condition }

In [69]:
# for multiple conditions
a
[value*2 if value==1 else value for value in a]

[2, 6, 3, 18, 5, 38, 7, 9]